/* Copyright 2012 Chad Heise & Jacob Wenger - All Rights Reserved */

.errors
{
    border: solid 2px #CD1A26;
    padding: 5px 10px 5px 10px;
    background-color: #E5736F;
    margin-bottom: 10px;
    width: 400px;
}

#uploadProfilePictureErrors, #cropProfilePictureErrors
{
    width: 327px;
    display: none;
    margin-bottom: 20px;
}

table tr
{
    height: 30px;
}

#editProfileEmailPreferencesForm tr
{
    height: 10px;
}

#editProfileEmailPreferencesForm td input
{
    margin: 5px 5px 0px 0px;
}

table th
{
    text-align: right;
    width: 85px;
    padding-right: 5px;
}

#editProfileEmailPreferencesForm th
{
    width: 5px;
}

table td input
{
    width: 200px;
    border: inset 2px #BBB;
}

table td select
{
    width: 204px;
    border: inset 2px #BBB;
}

.birthdaySelect
{
    width: 62px;
    margin-right: 5px;
}

.phoneInput
{
    width: 55px;
}

table td .invalid
{
    border: solid 2px #CD1A26;
}

#editProfileInformationButton, #editProfilePictureButton, #cropProfilePictureButton, #cropProfilePictureBackButton, #saveProfilePictureButton, #saveProfilePictureBackButton, #editProfilePrivacyButton, #editProfileEmailPreferencesButton
{
    padding: 5px 0px 5px 0px;
    width: 70px;
    font-weight: bold;
    font-size: 12px;
    color: white;
    margin-top: 15px;
    border-style: solid;
    border-radius: 5px;
    background-color: #288D42;
    border-color: #336E34;
    cursor: pointer;
    text-align: center;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
}

#cropProfilePictureButton, #saveProfilePictureButton
{
    margin-top: 0px;
}

#cropProfilePictureBackButton, #saveProfilePictureBackButton
{
    background-color: #CD1A26;
    border-color: #914044;
    margin-left: 10px;
    margin-top: 0px;
}

#cropProfilePictureBackButton:hover, #saveProfilePictureBackButton:hover
{
    border-color: #7E181A;
}

#editProfileInformationButton:hover, #editProfilePictureButton:hover, #cropProfilePictureButton:hover, #saveProfilePictureButton:hover, #editProfilePrivacyButton:hover, #editProfileEmailPreferencesButton:hover
{
    border-color: #1A492B;
    cursor: pointer;
}

#editProfileInformationConfirmation, #cropProfilePictureContent, #saveProfilePictureContent, #editProfilePictureConfirmation, #editProfilePrivacyConfirmation, #editProfileEmailPreferencesConfirmation
{
    display: none;
}

#uploadTarget
{
    height: 0px;
    width: 0px;
    border: none;
    display: none;
}

#croppedProfileImage
{
    height: 350px;
    width: 350px;
    margin-bottom: 15px;
    border: 1px solid black;
}

#newProfilePicture
{
    width: 350px;
    border: inset 2px #BBB;
}
