/* Copyright 2012 Chad Heise & Jacob Wenger - All Rights Reserved */

.inklingContainer
{
    width: 250px;
    margin: 0px 30px 15px 30px;
    float: left;
}

.inkling
{
    border: solid 2px #288D42;
    background-color: #ABD4B0;
    width: 100%;
    padding: 10px;
}

.inklingTitle
{
    margin: -7px 0px 3px 24%;
    font-size: 24px;
    text-align: center;
    font-weight: bold;
    color: #288D42;
    width: 52%;
    float: left;
}

.inklingInviteButton
{
    background-color: #1B5898;
    border-color: #2A4360;
    float: left;
    margin: -4px 0px 0px 7px;
}

.inklingInviteButton:hover
{
    border-color: #002C45;
}


.inklingImage
{
    width: 247px;
    height: 252px;
    border: solid 1px #000;
}

.inkling input
{
    margin-top: 5px;
    font-size: 18px;
    padding: 5px;
    width: 238px;
    border: inset 2px #BBB;
}

.emptyInput
{
    color: #888;
}

.emptyInklingInput
{
    color: #888;
}

.pastInklingText
{
    margin-top: 5px;
    font-size: 18px;
    padding: 5px;
    height: 25px;
    color: #1B5898;
    text-align: center;
    text-decoration: none;
}

.inklingSuggestions
{
    width: 248px;
}

.locationBoardSelect
{
    padding: 3px 10px 3px 10px;
}

.inklingInviteContainer
{
    text-align: left;
    position: absolute;
    border: solid 2px #1B5898;
    background-color: #ABC2E5;
    width: 225px;
    padding: 5px 10px 10px 10px;
    display: none;
}

.inklingInviteConfirmation
{
    text-align: left;
    position: absolute;
    border: solid 2px #1B5898;
    background-color: #ABC2E5;
    width: 225px;
    padding: 5px 10px 10px 10px;
    display: none;
}

.inklingInviteContainer input
{
    width: 221px;
    border: inset 2px #BBB;
    margin-bottom: 3px;
}

.inklingInviteContainer textarea
{
    width: 221px;
    height: 52px;
    border: inset 2px #BBB;
    resize: none;
}

.inklingInviteSuggestions
{
    position: absolute;
    width: 221px;
}

.invitationLabel
{
    clear: both;
    font-weight: bold;
}

.inviteesContainer
{
    clear: both;
}

.invitee
{
    float: left;
    background-color: #1B5898;
    border: solid 2px #2A4360;
    margin: 5px 5px 0px 0px;
    padding: 3px;
    color: #FFF;
    font-size: 12px;
}

.inviteeName
{
    float: left;
    margin-right: 5px;
}

.removeInvitee
{
    float: left;
    background-color: #70A9DB;
    height: 11px;
    padding: 1px 2px 1px 2px;
    margin-top: 1px;
    border-radius: 2px;
    cursor: pointer;
}

.removeInvitee:hover
{
    background-color: #E5736F;
}

.removeInvitee p
{
    margin-top: -3px;
}

.sendInklingInviteButton
{
    background-color: #288D42;
    border-color: #336E34;
    margin-left: 0px;
}

.sendInviteButton:hover
{
    border-color: #1A492B;
}

select, select option
{
    color: #1B5898;
    font-size: 14px;
}

#locationBoard
{
    margin-top: 20px;
}

.locationBoardCard
{
    float: left;
    width: 465px;
    height: 130px;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 10px;
}

.locationBoardCard:nth-child(odd)
{
    margin-right: 10px;
}

.locationBoardCard:hover
{
    background: #ABC2E5;
}

.locationBoardCardCount
{
    font-size: 32px;
    position: relative;
    height: 115px;
    font-weight: bold;
    color: #FFF;
    float: left;
    margin-right: 10px;
}

.locationBoardCardCount img
{
    padding: 5px 0px 0px 3px;
    height: 120px;
}

.locationBoardCardCount p
{
    position: absolute;
    text-align: center;
    top: 43px;
    width: 115px;
}

.locationBoardCardName
{
    margin-top: 3px;
    font-size: 30px;
    color: #288D42;
    width: 338px;
    white-space: nowrap;
} 

.locationBoardCardStreet, .locationBoardCardCity
{
    margin-left: 3px;
}

.locationBoardCardText
{
    float: left;
    overflow: hidden;
    margin-top: 20px;
}

.noStreet
{
    margin-top: 25px;
}

.noCityState
{
    margin-top: 40px;
}

#calendarContainer
{
    text-align: center;
}

.hidden
{
    display: none;
}
