/*************************/
/*  Inkle color palette  */
/*************************/
/* Green */
$darkestGreen: #1A492B;
$darkerGreen: #336E34;
$mediumGreen: #288D42;  // Primary green
$lighterGreen: #6ABB6A;
$lightestGreen: #ABD4B0;

/* Blue */
$darkestBlue: #002C45;
$darkerBlue: #2A4360;
$mediumBlue: #1B5898;   // Primary blue
$lighterBlue: #70A9DB;
$lightestBlue: #ABC2E5;

/* Red */
$darkestRed: #7E181A;
$darkerRed: #914044;
$mediumRed: #CD1A26;    // Primary red
$lighterRed: #E5736F;
$lightestRed: #EAB0B5;

/* Gray */
$darkestGray: #333333;
$darkerGray: #555555;
$mediumGray: #777777;   // Primary gray
$lighterGray: #BBBBBB;
$lightestGray: #DDDDDD;

/*******************************/
/*  Sencha variable overrides  */
/*******************************/
/* General */
$base-gradient: "flat";
$base-color: $mediumGreen;

/* Buttons */
$button-radius: .2em;

/* Badges */
$badge-size: 1em;
$badge-radius: .2em;
$badge-bg-color: $mediumRed;
$badge-bg-gradient: "matte";

/* Pull to refresh */
.x-list-pullrefresh-message, .x-list-pullrefresh-updated {
    color: $mediumGray;
}

.x-list-pullrefresh-arrow {
    /*background: center center theme_image("default", "refreshArrow.png") no-repeat !important;*/
    background: center center url("../images/refreshArrow.png") no-repeat !important;
}

/********************/
/*  Sencha modules  */
/********************/
@import "sencha-touch/default/all";

/* TODO: remove unused modules */
@include sencha-panel;
@include sencha-buttons;
@include sencha-sheet;
@include sencha-picker;
@include sencha-tabs;
@include sencha-toolbar;
@include sencha-toolbar-forms;
@include sencha-indexbar;
@include sencha-list;
@include sencha-layout;
@include sencha-carousel;
@include sencha-form;
@include sencha-msgbox;
@include sencha-list-pullrefresh;



/***************/
/*  TAB ICONS  */
/***************/
/* TODO: get rid of any unused icons */
.allInklingsIcon {
    -webkit-mask-box-image: url("../images/icons/allInklings.png");
}

.myInklingsIcon {
    -webkit-mask-box-image: url("../images/icons/myInklings.png");
}

.friendsIcon {
    -webkit-mask-box-image: url("../images/icons/friends.png");
}

.settingsIcon {
    -webkit-mask-box-image: url("../images/icons/gears.png");
}

.inklingInvitationsIcon {
    -webkit-mask-box-image: url("../images/icons/envelope.png");
}

.minusIcon {
    -webkit-mask-box-image: url("../images/icons/minus.png");
}

.plusIcon {
    -webkit-mask-box-image: url("../images/icons/plus.png");
}

.plusFriendIcon {
    -webkit-mask-box-image: url("../images/icons/plusFriend.png");
}

.minusFriendIcon {
    -webkit-mask-box-image: url("../images/icons/minusFriend.png");
}

.feedIcon {
    -webkit-mask-box-image: url("../images/icons/feed.png");
}

.editIcon {
    -webkit-mask-box-image: url("../images/icons/gear.png");
}

/*************/
/*  TOOLBAR  */
/*************/

.x-toolbar {
    background: $mediumGreen !important;
    border-bottom: 1px solid $darkestGreen !important;
}

/*************/
/*  TAB BAR  */
/*************/

.x-tabbar {
    background: $mediumGreen !important;
    border-top: 1px solid $darkestGreen !important;
}

.x-tabbar .x-tab {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    width: 25% !important;
}

.x-tabbar .x-tab-active {
    background: $darkestGreen !important;
    box-shadow: inset 0px 5px 5px #002200 !important;
}

.x-tabbar .x-button-icon {
    background-color: $darkestGreen !important;
}

.x-tabbar .x-tab-active .x-button-icon {
    background-color: #FFFFFF !important;
}

.x-tabbar .x-button-label {
    color: $darkestGreen !important;
    font-size: 11px !important;
}

.x-tabbar .x-tab-active .x-button-label {
    color: #FFFFFF !important;
}

/*************/
/*  BUTTONS  */
/*************/

.x-button {
    color: $darkestGreen !important;
    border-color: $darkestGreen !important;
    background: $mediumGreen !important;
}

.x-button-pressed, .x-button-pressing {
    color: #FFFFFF !important;
    background: $darkestGreen !important;
    box-shadow: inset 0px 5px 5px #002200 !important;
}

.x-button-back::before {
    margin-left: 4px !important;
    background: $darkestGreen !important;
}

.x-button-back::after {
    margin-left: 4px !important;
    background: $mediumGreen !important;
}

.x-button-back {
    z-index: 3 !important;
}

.x-button-pressing.x-button-back::after {
    background: $darkestGreen !important;
    box-shadow: inset 0px 5px 5px #002200 !important;
}

/******************************/
/*   LOGIN & LARGE BUTTONS    */
/******************************/
.facebookLoginButton {
    background: url("../images/facebookLogin.png") !important;
}

.facebookLoginDarkButton {
    background: url("../images/facebookLoginDark.png") !important;
}

.emailLoginButton {
    background: url("../images/emailLogin.png") !important;
}

.emailLoginDarkButton {
    background: url("../images/emailLoginDark.png") !important;
}

.changePasswordButton {
    background: url("../images/changePassword.png") !important;
}

.changePasswordDarkButton {
    background: url("../images/changePasswordDark.png") !important;
}

.changeEmailButton {
    background: url("../images/changeEmail.png") !important;
}

.changeEmailDarkButton {
    background: url("../images/changeEmailDark.png") !important;
}

/**************************/
/*   TOOLBAR BUTTONS      */
/**************************/

.toolbarButtonGear {
    background: url("../images/toolbarButtons/gear.png") !important;
}

.toolbarButtonGearPressed {
    background: url("../images/toolbarButtons/gearPressed.png") !important;
}

.toolbarButtonGears {
    background: url("../images/toolbarButtons/gears.png") !important;
}

.toolbarButtonGearsPressed {
    background: url("../images/toolbarButtons/gearsPressed.png") !important;
}

.toolbarButtonMinus {
    background: url("../images/toolbarButtons/minus.png") !important;
}

.toolbarButtonMinusPressed {
    background: url("../images/toolbarButtons/minusPressed.png") !important;
}

.toolbarButtonMinusFriend {
    background: url("../images/toolbarButtons/minusFriend.png") !important;
}

.toolbarButtonMinusFriendPressed {
    background: url("../images/toolbarButtons/minusFriendPressed.png") !important;
}

.toolbarButtonPlus {
    background: url("../images/toolbarButtons/plus.png") !important;
}

.toolbarButtonPlusPressed {
    background: url("../images/toolbarButtons/plusPressed.png") !important;
}

.toolbarButtonPlusFriend {
    background: url("../images/toolbarButtons/plusFriend.png") !important;
}

.toolbarButtonPlusFriendPressed {
    background: url("../images/toolbarButtons/plusFriendPressed.png") !important;
}

.toolbarButtonEnvelope {
    background: url("../images/toolbarButtons/envelope.png") !important;
    width: 45px !important;
}

.toolbarButtonEnvelopePressed {
<<<<<<< local
    background: url("../images/toolbarButtons/envelopePressed.png") !important;
    background-color: $darkestGreen !important;
    box-shadow: inset 0px 5px 5px #002200 !important;
=======
	background: url("../images/toolbarButtons/envelopePressed.png") !important;
	background-color: $darkestGreen !important;
	box-shadow: inset 0px 5px 5px #002200 !important;
	width: 45px !important;
>>>>>>> other
}

.toolbarButtonFeed {
    background: url("../images/toolbarButtons/feed.png") !important;
    width: 45px !important;
}

.toolbarButtonFeedPressed {
<<<<<<< local
    background: url("../images/toolbarButtons/feedPressed.png") !important;
    background-color: $darkestGreen !important;
    box-shadow: inset 0px 5px 5px #002200 !important;
=======
	background: url("../images/toolbarButtons/feedPressed.png") !important;
	background-color: $darkestGreen !important;
	box-shadow: inset 0px 5px 5px #002200 !important;
	width: 45px !important;
>>>>>>> other
}

/* The .toolbarButton and .toolbarButtonPressed classes must come last in order for !important to take effect */
.toolbarButton {
    width: 33px;
    height: 33px;
}

.toolbarButtonPressed {
<<<<<<< local
    background-color: $darkestGreen !important;
    box-shadow: inset 0px 5px 5px #002200 !important;
=======
	width: 33px;
	height: 33px;
	background-color: $darkestGreen !important;
	box-shadow: inset 0px 5px 5px #002200 !important;
>>>>>>> other
}

/***********/
/*  LOGIN  */
/***********/
#loginFooter {
    color: #FFFFFF;
    position: fixed;
    width: 100%;
    bottom: 0px;
    text-align: center;
    height: 100px;
}

#registration {
    margin-right: 10px;
}

#tour {
    margin-left: 10px;
}

#forgottenPassword {
    float: right;
    color: $mediumBlue;
    font-size: 14px;
    padding: 10px;
    margin: 110px 0px 0px 0px;
}

#forgottenPasswordExplanation, #resetPasswordExplanation {
    color: $mediumBlue;
    padding: 5px;
    text-align: justify;
}

/***********/
/*  LISTS  */
/***********/
/* Inklings list */
.inklingsList .x-list-item-label {
    height: 60px !important;
    padding: 5px !important;
}

.inklingsList .location {
    margin-top: -3px;
    color: $mediumBlue;
    font-weight: bold;
    font-size: 24px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 95%;
}

.inklingsList .time {
    float: left;
    color: $mediumGray;
    font-size: 18px;
    max-width: 135px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.inklingsList .dot {
    float: left;
    color: $mediumGray;
    margin: 0px 5px 0px 5px;
}

.inklingsList .attendingMemberThumbnail {
    float: left;
    margin: 2px 5px 0px 0px;
    height: 20px;
    width: 20px;
}

.inklingsList .numOtherMembersAttending {
    float: left;
    margin-top: 3px;
    color: $mediumGray;
    font-size: 14px;
}

.inklingsList .disclosureArrow {
    position: absolute;
    top: 22px;
    right: 7px;
}

/* Inkling invitations list */
.inklingInvitationsList .x-list-item-label {
    height: 90px !important;
    padding: 5px !important;
}

.inklingInvitationsList .location {
    margin-top: -3px;
    color: $mediumBlue;
    font-weight: bold;
    font-size: 24px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.inklingInvitationsList .time {
    float: left;
    color: $mediumGray;
    font-size: 18px;
    max-width: 145px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.inklingInvitationsList .date {
    float: left;
    clear: right;
    color: $mediumGray;
    font-size: 18px;
    max-width: 145px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.inklingInvitationsList .dot {
    float: left;
    color: $mediumGray;
    margin: 0px 5px 0px 5px;
}

.inklingInvitationsList .attendingMemberThumbnail {
    float: left;
    margin: 2px 5px 0px 0px;
    height: 20px;
    width: 20px;
}

.inklingInvitationsList .numOtherMembersAttending {
    float: left;
    margin-top: 3px;
    color: $mediumGray;
    font-size: 14px;
}

.inklingInvitationsList input[type="button"] {
    color: #FFFFFF;
    border-radius: 3px !important;
    float: left;
}

.inklingInvitationsList .acceptInklingInvitationButton {
    clear: left;
    margin-right: 10px;
    background-color: $mediumGreen !important;
    border: solid 1px $darkestGreen !important;
}

.inklingInvitationsList .ignoreInklingInvitationButton {
    background-color: $mediumRed !important;
    border: solid 1px $darkestRed !important;
}

.inklingInvitationsList .hideInklingInvitationButton {
    clear: left;
    background-color: $mediumBlue !important;
    border: solid 1px $darkestBlue !important;
}

.inklingInvitationsList .disclosureArrow {
    position: absolute;
    top: 22px;
    right: 7px;
}

/* Groups list (main content) */
.groupsListMainContent .x-list-item-label {
    height: 60px !important;
    padding: 5px !important;
    background-color: #FFFFFF;
}

.groupsListMainContent .group {
    -webkit-transition: 0.5s;
}

.groupsList .groupInfo {
    margin: -3px 15px 0px 0px;
}

.groupsListMainContent .groupName {
    margin-top: -3px;
    width: 270px;
    color: $mediumBlue;
    font-weight: bold;
    font-size: 24px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.groupsListMainContent .groupMemberThumbnail {
    float: left;
    margin: 2px 5px 0px 0px;
    height: 20px;
    width: 20px;
}

.groupsListMainContent .numOtherGroupMembers {
    float: left;
    margin-top: 3px;
    color: $mediumGray;
    font-size: 14px;
}

.groupsListMainContent .disclosureArrow {
    position: absolute;
    top: 22px;
    right: 7px;
}

.groupsListMainContent .groupNameInput {
    margin-top: -3px;
    width: 270px;
    color: $mediumBlue;
    font-weight: bold;
    font-size: 24px;
    border-width: 0px;
    background-color: #FFFFFF;
}

.groupsListMainContent .groupNameHidden, .groupsListMainContent .groupNameInputHidden {
    display: none;
}

.groupsList .listDeleteButton {
    margin-right: 55px;
}

/* Groups list (panel) */
.groupsListPanel .selectionButton {
    float: left;
    margin: -4px 5px 0px -10px;
}

.groupsListPanel .groupName {
    font-weight: bold;
    color: $mediumBlue;
    font-weight: bold;
    font-size: 20px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/* Members list */
.membersList .x-list-item-label {
    height: 60px;
    padding: 5px !important;
}

// TODO: get rid of this?
.membersListWithButtons .x-list-item-label {
    height: 90px;
}

.membersList .member {
    -webkit-transition: 0.5s;
}

.membersList .memberImage {
    float: left;
	height: 50px;
	width: 50px;
	margin: 3px 5px 0px 0px;
	border: 1px solid #000000;
}

.membersList .memberInfo {
    margin: -3px 15px 0px 0px;
}

.membersList .memberName {
    font-size: 24px;
    color: $mediumBlue;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.membersList .lastName {
    font-weight: bold;
}

.membersList .numMutualFriends {
    font-size: 18px;
    color: $mediumGray;
}

.membersList .relationship {
	padding-left: 3px;
	padding-right: 3px;
	font-size: 13px;
	color: white;
	border: 1px solid $darkestGreen;
	text-align: center;
	background: $mediumGreen;
	height: 20px;
	width: 70px;
	border-radius: 3px;
	position: absolute;
	bottom: 5px;
	right: 25px;
}

.membersList .facebookIcon {
	height: 15px;
	position: absolute;
	bottom: 5px;
	left: 5px;
}

.membersList .disclosureArrow {
    position: absolute;
    top: 22px;
    right: 7px;
}

.membersList .listDeleteButton {
    right: 70px;
}

/* Inkling feed list */
#inklingFeedList .x-list-item-label {
    padding: 5px;
    min-height: 60px;
}

#inklingFeedList img {
    float: left;
    height: 50px;
    width: 50px;
    margin: 3px 5px 0px 0px;
<<<<<<< local
    border: 1px solid #000000;
=======
	border: 1px solid #000000;
	border-radius: 6px;
>>>>>>> other
}

#inklingFeedList .floatRight {
    float: right;
    margin-right: 0px;
    margin-left: 5px;
}

#inklingFeedList .feedUpdateInfo, #inklingFeedList .feedCommentInfo {
    margin: -3px 5px 0px 55px;
}

#inklingFeedList .creatorName {
    font-size: 16px;
    font-weight: bold;
    color: $mediumBlue;
}

#inklingFeedList .text {
    font-size: 16px;
}

#inklingFeedList .timestamp {
    font-size: 12px;
    color: $lighterGray;
}

/* Settings list */
#settingsList .settingName {
    float: left;
    margin-left: -5px;
    font-size: 18px;
    font-weight: bold;
    color: $mediumBlue;
}

#settingsList .disclosureArrow {
    position: absolute;
    top: 17px;
    right: 7px;
}

/* Add friends list??? */
.isFriendButton {
    float: right;
    font-size: 14px;
    padding: 2px 5px 2px 5px;
    color: #FFFFFF;
    background-color: $mediumGreen;
    border: solid 1px $darkestGreen;
    border-radius: 5px;
    margin: 0px 10px 0px 0px;
}

.addFriendButton {
    float: right;
    font-size: 14px;
    padding: 2px 5px 2px 5px;
    color: #FFFFFF;
    background-color: $mediumBlue;
    border: solid 1px $darkestBlue;
    border-radius: 5px;

}

/* List section headers */
.x-list-header
{
    border: solid 1px #999 !important;
    border-width: 1px 0px 1px 0px !important;
    background-color: $lighterGray !important;
    color: #FFF !important;
    text-shadow: $darkerGray 1px 1px 1px !important;
    padding-left: 10px !important;
}

.x-indexbar-pressed {
    background-color: rgba(27, 88, 152, 0.5) !important;
}

.x-indexbar div {
    color: $mediumBlue !important;
    opacity: 1 !important;
}

/* List deletion items */
.listDeleteButton {
    position: absolute;
    right: 0px;
    bottom: 12px;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    border: solid 1px $darkestRed !important;
    background-color: $mediumRed !important;
    font-size: 16px;
    color: #FFFFFF !important;
}

.deleteLock {
	float: left;
	margin: 11px 0px 0px -40px;
	-webkit-transition: 0.5s;
}

.showDeleteLock {
    -webkit-transform: translate(40px, 0px);
    -webkit-transition: 0.5s;
}

.unlockDeleteLock {
    -webkit-transform: rotate(-90deg);
    -webkit-transition: 0.5s;
}

/* Miscellaneous list items */
.emptyListText {
    padding-top: 10px;
    color: #999;
    text-align: center;
}

.selectionItem {
    float: left;
    padding: 8px 4px 0px 0px;
}

/******************/
/* TOUCH CALENDAR */
/******************/
.touch-calendar-view table {
    width: 100%;
    border-collapse: separate;
    table-layout: fixed;
    font-size: 20px;
    color: $darkestGray;
    background-color: $lightestGray;
}


.touch-calendar-view table.week td {
    vertical-align: top;
}

.touch-calendar-view table.day td.time-block {
    text-align: left;
    background-image: none;
    font-size: 0.7em;
    height: 30px;
}

.touch-calendar-view tbody td {
    border: 1px solid $mediumGray;
    border-left: 1px solid $mediumGray;
    border-right-color: $lighterGray;
    border-top-color: $lightestGray;
}

.touch-calendar-view tbody td:nth-child(7n) {
    border-right-color: $mediumGray;
}

.touch-calendar-view td {
    font-weight: bold;
    position: relative;
    text-align: center;
    vertical-align: middle;
    font-size: 1.3em;
    background-color: $lightestGray;
}

.touch-calendar-view td.today {
    color: #FFFFFF;
    -webkit-box-shadow: inset 0px 0px 8px $darkestGray;
    border: 1px solid $darkestGray;
    background: $lighterGray;
}

.touch-calendar-view td.selected {
    color: #FFFFFF;
    text-shadow: $darkestGray 1px 1px 0px;
    border: 1px solid black;
    background: $mediumBlue;
}

.touch-calendar-view td.prev-month, .touch-calendar-view td.next-month {
    color: $mediumGray;
}

.touch-calendar-view td.prev-month.selected, .touch-calendar-view td.next-month.selected {
    color: #FFFFFF;
}

.touch-calendar-view thead {
    background-color: $lightestGray;
}

.touch-calendar-view thead th {
    font-size: 9px;
    vertical-align: bottom;
    padding-bottom: 3px;
    color: $darkestGray;
    text-align: center;
    height: 46px;
    text-shadow: white 1px 1px 1px;
    font-weight: bold;
    //border-bottom: 1px solid #A3A7AF;
    border-bottom: 1px solid $mediumGray;
}

.touch-calendar-view thead th span {
    font-size: 20px;
    font-weight: bold;
    height: 30px;
    left: 14.5%;
    position: absolute;
    text-align: center;
    top: 4px;
    width: 71%;
    z-index: 999;
    text-shadow: white 1px 1px 1px;
}

/***********************/
/*  ALL INKLINGS VIEW  */
/***********************/
/* All inklings date picker border */
#allInklingsDatePickerPanel .x-inner {
    margin: 0px;
}

/* No dated inklings checkbox */
#undatedInklingsCheckbox {
    float: left;
    margin: -5px 0px 0px 4px;
}

#undatedInklingsText {
    float: left;
    margin-top: 8px;
}

/******************/
/*  INKLING VIEW  */
/******************/
#inklingView #inklingHeader {
    color: #888;
    border: solid 1px #EFEFEF;
    background-color: #EFEFEF;
    border-radius: 3px;
    margin: 10px 0px 20px 0px;
    box-shadow: 0px 0px 5px #888;
}

#inklingView .numAttendees {
    float: left;
    color: #EFEFEF;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    padding-top: 5px;
    height: 50px;
    width: 50px;
    margin: 5px 10px 5px 5px;
    border-radius: 3px;
    border: solid 2px #DDD;
    background-color: $lightestGreen;
    box-shadow: 0px 0px 10px #888;
}

#inklingView .location {
    float: left;
    padding-top: 10px;
    font-size: 28px;
    width: 75%;
}

#inklingView #editInklingButton {
    margin: 3px 3px 0px -25px;
    float: right;
    height: 20px;
}

.clear
{
    clear: both;
}

#inklingView .infoContainer {
    padding: 5px;
}

#inklingView #membersAttendingPictures {
    float: left;
    width: 257px;
}

#inklingView .memberPicture {
    height: 60px;
    width: 60px;
    margin: 5px 5px 0px 0px;
    float: left;
}

#inklingView #membersAttendingPictures .memberPicture:nth-child(4n+4) {
    margin-right: 0px;
}

#inklingView .disclosureArrow {
    float: right;
    margin: 18px 9px 0px 0px;
    padding: 10px;
}

#inklingView .lowerDisclosureArrow {
    margin-top: 50px;
}

/******************/
/*  MISCELLANEOUS */
/******************/
/* Remove glitchy/flickering animations */
* {
    -webkit-backface-visibility: hidden;
}





#inklingInfo, #myInklingsView .inkling, #profileView #header, #friendsView .member, #friendsView .group {
    color: #888;
    border: solid 1px #EFEFEF;
    background-color: #EFEFEF;
    border-radius: 3px;
    margin: 10px 0px 20px 0px;
    box-shadow: 0px 0px 5px #888;
    height: 60px;
}

.noInklings, .noFriends, .noGroups
{
    color: #888;
    border: solid 1px #EFEFEF;
    background-color: #EFEFEF;
    border-radius: 3px;
    margin: 10px 0px 20px 0px;
    padding: 5px;
    box-shadow: 0px 0px 5px #888;
}

#inklingView .time, #inlingView .category {
    float: none;
}

#inklingView .basicInfoLabel {
    font-weight: bold;
}

.x-button .x-badge {
    margin-top: -3px;
    margin-right: -8px;
}

#inklingView #editInklingButton:hover {
    box-shadow: 0px 0px 10px #888;
}

#inklingView #inklingInfo {
    height: auto;
}

.banner {
    color: #EFEFEF;
    text-align: left;
    font-size: 16px;
    font-weight: bold;
    height: 30px;
    width: 200px;
    padding-top: 3px;
    padding-left: 20px;
    margin: 5px 0px 0px -15px;
    border-radius: 3px;
    border: solid 2px #DDD;
    background-color: $lightestBlue;
    box-shadow: 0px 0px 10px #888;
}

.hidden {
    visibility: "hidden";
}

/* Inkling invitees list */
#groupInviteesList .groupInfo {
    padding: 11px 0px 0px 3px;
    float: left;
}

#groupInviteesList .name {
    font-size: 20px;
    font-weight: bold;
}

/**********************/
/*  NEW INKLING VIEW  */
/**********************/
/* New inkling invites privacy form */
/* #newInklingPrivacyForm .selectedGroupsHeader, #newInklingPrivacyForm .noOne,  #newInklingPrivacyForm .forwarding, */
.shareSettingsForm .selectedGroupsHeader, .shareSettingsForm .noOne, .shareSettingsForm {
    clear: both;
}

/* New inkling invitees button */
#newInklingViewInvitees {
    border: solid 1px #DDD;
    background-color: #FFFFFF;
    border-radius: 7px;
    padding: 10px;
    height: 45px;
}

#newInklingViewInvitees p {
    float: left;
}

#newInklingViewInvitees .disclosureArrow {
    float: right;
    margin-top: 5px;
}

/******************/
/*  FRIENDS VIEW  */
/******************/

/*#addFriendsSuggestions .x-list-item-label, #groupMembersList .x-list-item-label, #groupInviteesList .x-list-item-label {
    height: 60px;
    padding: 5px 55px 5px 5px;
    margin-right: -50px;
    border: solid red 1px;
}

#addFriendsSuggestions .image, #groupMembersList .image {
    float: left;
    height: 50px;
    width: 50px;
    margin-right: 5px;
    border: solid green 1px;
}*/

#friendsView .mutualFriends {
    float: left;
}

/****************/
/* SETTINGS VIEW */
/****************/
#linkFacebookAccountMessage {
    color: $mediumBlue;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 10px;
}

#linkFacebookAccountMessage p {
    margin: 10px;
}

#linkFacebookAccountButton {
    float: left;

}

#shareSettingsHeader {
    color: $mediumBlue;
    font-weight: bold;
    text-align: left;
    margin-bottom: 10px;
}

#shareSettingsHeader p {
    margin: 0px 0px 10px 0px;
}

.shareSettingsForm p {
    color: $mediumBlue;
    font-size: 18px;
    padding-top: 5px;
    padding-bottom: 10px;
}

.shareSettingsForm img {
    margin-right: 5px;
    margin-left: 0px;
}

.shareSettingsForm .selectionItem {
    float: left;
    padding: 0px;
}

.shareSettingsForm .selectedGroupsGroup .selectionItem {
    margin-left: 25px;
}

.shareSettingsForm .forwarding {
    margin-top: 15px;
}

/* Used when a user has not created any groups yet*/
.shareSettingsForm .noGroupsShareSetting p {
    color: $mediumGray;
    margin-left: 38px;
    font-size: 16px;
    padding: 0px;
}