//Inkle colors (dark->light = 1->5)
$green1: #1A492B;
$green2: #336E34;
$green3: #288D42; //Primary green color
$green4: #6ABB6A;
$green5: #ABD4B0;
$blue1: #002C45;
$blue2: #2A4360;
$blue3: #1B5898; //Primary blue color
$blue4: #70A9DB;
$blue5: #ABC2E5;
$red1: #7E181A;
$red2: #914044;
$red3: #CD1A26; //Primary red color
$red4: #E5736F;
$red5: #EAB0B5;

// Sencha variable overrides
$body-bg-color: #000;

$active-color: $green3;
$alert-color: $red5;
$base-color: $green3;
$base-gradient: 'flat';
$bright-color: $green3;
$button-gradient: 'flat';
//$button-height
$button-radius: .2em;
//$button-stroke-weight: 0em;

//$toolbar-base-color: $green3;
//$toolbar-gradient: "flat";
 
$tabs-dark: $green3;
$tabs-dark-active-color: #FFFFFF;
$bar-color: $green2;
//$toolbar-spacing: 1em;
 
$tabs-bottom-radius: .2em;
$tabs-bottom-gradient: 'flat';
$tabs-bar-gradient: 'flat';
$tabs-bottom-active-gradient: 'flat';
//

$badge-size: 1em;
$badge-radius: .2em;
$badge-bg-color: $red3;
$badge-bg-gradient: "matte";

@import 'sencha-touch/default/all';

@include pictos-iconmask("minus1");

// You may remove any of the following modules that you
// do not use in order to create a smaller css file.
@include sencha-panel;
@include sencha-buttons;
@include sencha-sheet;
@include sencha-picker;
@include sencha-tabs;
@include sencha-toolbar;
@include sencha-toolbar-forms;
@include sencha-indexbar;
@include sencha-list;
@include sencha-layout;
@include sencha-carousel;
@include sencha-form;
@include sencha-msgbox;

// Your custom code goes here...
@include sencha-toolbar-ui('customToolbar', $green3, 'none');
//@include sencha-tabbar-ui('customTabBar', $green3, 'none', #FFFFFF);
.customButton {
	background-color: $red3;
}

.customPressedCls {
	@include background-gradient(#1A492B, recessed); //Added by Chad
    @include bevel-by-background(#6ABB6A); //Added by Chad
	color: #FFF;
}

/**********************/
/*   LOGIN BUTTONS 	  */
/**********************/
.facebookLoginButton {
	background: url('../images/facebookLogin.png');
}

.facebookLoginDarkButton {
	background: url('../images/facebookLoginDark.png');
}

.emailLoginButton {
	background: url('../images/emailLogin.png');
}

.emailLoginDarkButton {
	background: url('../images/emailLoginDark.png');
}

/**********************/
/*  CUSTOM TAB ICONS  */
/**********************/
.allInklingsIcon {
	-webkit-mask-box-image: url("../images/icons/allInklings.png");
}

.myInklingsIcon {
	-webkit-mask-box-image: url("../images/icons/myInklings.png");
}

.friendsIcon {
	-webkit-mask-box-image: url("../images/icons/friends.png");
}

.settingsIcon {
	-webkit-mask-box-image: url("../images/icons/gears.png");
}

.inklingInvitationsIcon {
	-webkit-mask-box-image: url("../images/icons/envelope.png");
}

.minusIcon {
	-webkit-mask-box-image: url("../images/icons/minus.png");
}

.plusIcon {
	-webkit-mask-box-image: url("../images/icons/plus.png");
}

.plusFriendIcon {
	-webkit-mask-box-image: url("../images/icons/plusFriend.png");
}

.minusFriendIcon {
	-webkit-mask-box-image: url("../images/icons/minusFriend.png");
}

.feedIcon {
	-webkit-mask-box-image: url("../images/icons/feed.png");
}

.editIcon {
	-webkit-mask-box-image: url("../images/icons/gear.png");
}

/***********************/
/*  ALL INKLINGS VIEW  */
/***********************/

/* All inklings date picker border */
#allInklingsDatePickerPanel .x-inner {
    margin: 0px;
}

/* All inklings list */
#allInklingsList .x-list-item-label {
	height: 60px;
	padding: 5px;
}

#allInklingsList .numAttendees {
	float: left;
	color: #EFEFEF;
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	padding-top: 5px;
	height: 50px;
	width: 50px;
	margin: 0px 0px 0px 0px;
	border-radius: 3px;
	border: solid 2px #DDD;
	background-color: $green5;
	box-shadow: 0px 0px 10px #888;
}

#allInklingsList .inklingInfo {
	float: left;
	margin-left: 10px;
	vertical-align: top;
}

#allInklingsList .name {
	font-weight: bold;
	font-size: 20px;
}

#allInklingsList .location {
	color: $green3;
	font-weight: bold;
	font-size: 24px;
}

#allInklingsList .time, #allInklingsList .category {
	float: left;
	color: #777;
}

/* All inklings groups list */
#allInklingsGroupsList .selectionButton {
	float: left;
	margin: -4px 5px 0px -10px;
}

#allInklingsGroupsList .groupName {
	float: left;
	font-weight: bold;
}




.view {
	padding: 5px 10px 1px 10px;
	background-color: #DDD;
}

#inklingView #inklingHeader, #inklingInfo, #myInklingsView .inkling, #profileView #header, #friendsView .member, #friendsView .group {
	color: #888;
	border: solid 1px #EFEFEF;
	background-color: #EFEFEF;
	border-radius: 3px;
	margin: 10px 0px 20px 0px;
	box-shadow: 0px 0px 5px #888;
	height: 60px;
}

.noInklings, .noFriends, .noGroups
{
	color: #888;
	border: solid 1px #EFEFEF;
	background-color: #EFEFEF;
	border-radius: 3px;
	margin: 10px 0px 20px 0px;
	padding: 5px;
	box-shadow: 0px 0px 5px #888;
}

.clear
{
	clear: both;
}

#myInklingsView .numAttendees, #friendsView .numMembers {
	float: left;
	color: #EFEFEF;
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	padding-top: 15px;
	height: 70px;
	width: 70px;
	margin: -6px 10px 0px 7px;
	border-radius: 3px;
	border: solid 2px #DDD;
	background-color: $green5;
	box-shadow: 0px 0px 10px #888;
}

#allInklingsView .inklingInfo, #myInklingsView .inklingInfo, #friendsView .friendInfo, #friendsView .groupInfo {
	float: left;
	text-align: left;
	padding-top: 3px;
}

.location, #friendsView .memberName, #friendsView .groupName {
	color: $green3;
	font-weight: bold;
	font-size: 24px;
}

.time, .category {
	float: left;
}

#inklingView .time, #inlingView .category {
	float: none;
}

#inklingView .basicInfoLabel {
	font-weight: bold;
}

.x-button .x-badge {
	margin-top: -3px;
	margin-right: -8px;
}

.dot {
	float: left;
	margin: 0px 5px 0px 5px;
}

#inklingView .location {
	float: left;
	padding-top: 8px;
	font-size: 32px;
}

#inklingView #editInklingButton {
	float: right;
	height: 20px;
	margin: 5px 5px 0px 0px;
}

#inklingView #editInklingButton:hover {
	box-shadow: 0px 0px 10px #888;
}

#inklingView #inklingInfo {
	height: auto;
}

.banner {
	color: #EFEFEF;
	text-align: left;
	font-size: 16px;
	font-weight: bold;
	height: 30px;
	width: 200px;
	padding-top: 3px;
	padding-left: 20px;
	margin: 5px 0px 0px -15px;
	border-radius: 3px;
	border: solid 2px #DDD;
	background-color: $blue5;
	box-shadow: 0px 0px 10px #888;
}

#inklingView .infoContainer {
	padding: 5px;
}

#inklingView .attendeePicture {
	height: 50px;
	width: 50px;
    margin: 5px 10px 0px 0px;
	float: left;
}

/******************/
/*  INKLING FEED  */
/******************/
#inklingFeedList .x-list-item-label {
	/*height: 60px;*/
	padding: 10px;
}

#inklingFeedList img {
	float: left;
	height: 50px;
	width: 50px;
	margin-right: 10px;
	border-radius: 3px;
	border: solid 2px #DDD;
	background-color: $blue5;
	box-shadow: 0px 0px 10px #888;
}

#inklingFeedList .floatRight {
	float: right;
	margin-right: 0px;
	margin-left: 10px;
}

#inklingFeedList .feedcommentInfo {
	float: left;
}

#inklingFeedList .creatorName {
	font-size: 16px;
	font-weight: bold;
	color: $green3;
}

#inklingFeedList .text {
	font-size: 16px;
}

#inklingFeedList .timestamp {
	font-size: 12px;
	color: #AAAAAA;
}






#myInklingsView .banner {
	margin-bottom: 15px;
	padding-left: 25px;
}

#profileView #picture {
	float: left;
	height: 70px;
	width: 70px;
	margin: -6px 10px 0px 7px;
	border-radius: 3px;
	border: solid 2px #DDD;
	box-shadow: 0px 0px 10px #888;
}

#profileView #name {
	color: #288D42;
	padding-top: 8px;
	font-weight: bold;
	font-size: 32px;
}

#friendsView .mutualFriends {
	float: left;
}


.hidden {
    visibility: "hidden";
}


.deleteLock {
	float: left;
	margin: 8px 5px 0px 0px;
}

.deleteLockHidden {
	margin-left: -50px;
}

.deleteLockSlideLeft {
	-webkit-animation: deleteLockSlideLeftAnimation 0.5s 1; 
}

.deleteLockSlideRight {
	-webkit-animation: deleteLockSlideRightAnimation 0.5s 1; 
}

@-webkit-keyframes deleteLockSlideLeftAnimation {
	0% 	 { opacity: 1;	margin-left: 0px; }
	100% { opacity: 0; margin-left: -50px; }
}

@-webkit-keyframes deleteLockSlideRightAnimation {
	0% 	 { opacity: 0;	margin-left: -50px; }
	100% { opacity: 1; margin-left: 0px; }
}

.deleteLockRotateLeft {
	-webkit-animation: deleteLockRotateLeftAnimation 0.5s 1; 
	-webkit-animation-fill-mode: forwards;
}

.deleteLockRotateRight {
	-webkit-animation: deleteLockRotateRightAnimation 0.5s 1; 
	-webkit-animation-fill-mode: forwards;
}

@-webkit-keyframes deleteLockRotateLeftAnimation {
	0% 	 { 	-webkit-transform: rotate(0deg);  	}
	100% { 	-webkit-transform: rotate(-90deg);  }
}

@-webkit-keyframes deleteLockRotateRightAnimation {
	0% 	 { 	-webkit-transform: rotate(-90deg);  	}
	100% { 	-webkit-transform: rotate(0deg);  }
}

.deleteLockRotateRight {
	-webkit-transform:rotate(-90deg);
}

.deleteButton {
	float: right;
	padding: 2px 5px 2px 5px;
	font-size: 14px;
	color: #FFFFFF;
	background-color: $red3;
	border: solid 1px $red1;
	border-radius: 5px;
	margin: 14px 10px 0px 0px;
}

.deleteButtonHidden {
	margin-right: -75px;
}

.deleteButtonSlideLeft {
	-webkit-animation: deleteButtonSlideLeftAnimation 0.5s 1; 
}

.deleteButtonSlideRight {
	-webkit-animation: deleteButtonSlideRightAnimation 0.5s 1; 
}

@-webkit-keyframes deleteButtonSlideLeftAnimation {
	0% 	 { opacity: 0; margin-right: -75px; }
	100% { opacity: 1; margin-right: 10px; }
}

@-webkit-keyframes deleteButtonSlideRightAnimation {
	0% 	 { opacity: 1; margin-right: 10px; }
	100% { opacity: 0; margin-right: -75px; }
}

.disclosureArrow {
	float: right;
}

.disclosureArrowHidden {
	margin-right: -150px;
}

.disclosureArrowSlideLeft {
	-webkit-animation: disclosureArrowSlideLeftAnimation 0.5s 1; 
}

.disclosureArrowSlideRight {
	-webkit-animation: disclosureArrowSlideRightAnimation 0.5s 1; 
}

@-webkit-keyframes disclosureArrowSlideLeftAnimation {
	0% 	 { opacity: 0; margin-right: -75px; }
	100% { opacity: 1; margin-right: 0px; }
}

@-webkit-keyframes disclosureArrowSlideRightAnimation {
	0% 	 { opacity: 1; margin-right: 0px; }
	100% { opacity: 0; margin-right: -75px; }
}

#friendsViewGroupsList .numMembers {
	float: left;
	color: #EFEFEF;
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	padding-top: 5px;
	height: 50px;
	width: 50px;
	margin: 0px 0px 0px 0px;
	border-radius: 3px;
	border: solid 2px #DDD;
	background-color: $green5;
	box-shadow: 0px 0px 10px #888;
}

#friendsViewGroupsList .groupInfo {
	float: left;
	padding: 12px 0px 0px 10px;
	vertical-align: top;
}

#friendsViewGroupsList .name {
	font-size: 20px;
	font-weight: bold;
}

.isFriendButton {
	float: right;
	font-size: 14px;
	padding: 2px 5px 2px 5px;
	color: #FFFFFF;
	background-color: $green3;
	border: solid 1px $green1;
	border-radius: 5px;
	margin: 14px 10px 0px 0px;
}

.addFriendButton {
	float: right;
	font-size: 14px;
	padding: 2px 5px 2px 5px;
	color: #FFFFFF;
	background-color: $blue3;
	border: solid 1px $blue1;
	border-radius: 5px;
	margin: 14px 10px 0px 0px;
}

.emptyListText {
	padding-top: 10px;
	color: #999;
	text-align: center;
}

.selectionItem {
	float: left;
	padding: 8px 4px 0px 0px;
}

/* Inkling invitees list */
#groupInviteesList .groupInfo {
	padding: 11px 0px 0px 3px;
	float: left;
}

#groupInviteesList .name {
	font-size: 20px;
	font-weight: bold;
}

/**********************/
/*  NEW INKLING VIEW  */
/**********************/
#newInklingPrivacyForm #selectedGroupsHeader, #newInklingPrivacyForm #noOne,  #newInklingPrivacyForm #forwarding {
    clear: both;
}

#newInklingPrivacyForm #forwarding {
    margin-top: 25px;
}

#newInklingPrivacyForm .selectedGroupsGroup {
    clear: both;
}

#newInklingPrivacyForm .selectionItem {
	float: left;
	padding: 0px;
}

#newInklingPrivacyForm .selectedGroupsGroup .selectionItem {
	margin-left: 25px;
}

/**************************************/
/*  NEW INKLING INVITED FRIENDS VIEW  */
/**************************************/

/* New inkling invited friends list */
#newInklingInvitedFriendsList .x-list-item-label {
	height: 60px;
	padding: 5px;
}

#newInklingInvitedFriendsList .selectionButton {
	float: left;
	padding: 8px 4px 0px 0px;
}

#newInklingInvitedFriendsList .image {
	float: left;
	height: 50px;
	width: 50px;
}

#newInklingInvitedFriendsList .memberInfo {
	float: left;
	padding: 11px 0px 0px 10px;
	vertical-align: top;
}

#newInklingInvitedFriendsList .name {
	font-size: 20px;
}

#newInklingInvitedFriendsList .lastName {
	font-weight: bold;
}

/* New inkling invited groups list */
#newInklingInvitedGroupsList .selectionButton {
	float: left;
	margin: -4px 5px 0px -10px;
}

#newInklingInvitedGroupsList .groupName {
	float: left;
	font-weight: bold;
}

/******************/
/*  FRIENDS VIEW  */
/******************/

/* Friends list */
#friendsViewFriendsList .x-list-item-label, #addFriendsSuggestions .x-list-item-label, #friendsViewGroupsList .x-list-item-label, #groupMembersList .x-list-item-label, #groupInviteesList .x-list-item-label {
	height: 60px;
	padding: 5px;
}

#friendsViewFriendsList .image, #addFriendsSuggestions .image, #groupMembersList .image {
	float: left;
	height: 50px;
	width: 50px;
}

#friendsViewFriendsList .memberInfo, #addFriendsSuggestions .memberInfo, #groupMembersList .groupInfo {
	float: left;
	padding: 3px 0px 0px 10px;
}

#friendsViewFriendsList .name, #addFriendsSuggestions .name, #groupMembersList .name {
	font-size: 20px;
}

#friendsViewFriendsList .lastName, #addFriendsSuggestions .lastName, #groupMembersList .name {
	font-weight: bold;
}

#friendsViewFriendsList .mutualFriends, #addFriendsSuggestions .mutualFriends, #groupMembersList .mutualFriends {
	font-size: 16px;
	color: #777;
	float: left;
}

/* Groups list */
#friendsViewGroupsList .groupNameHidden, #friendsViewGroupsList .groupNameInputHidden {
	display: none;
}

#friendsViewGroupsList .groupNameInput {
	font-size: 20px;
	font-weight: bold;
	border-width: 0px;
	width: 220px;
}

/* Friend requests list */
#friendsViewRequestsList .x-list-item-label {
	height: 60px;
	padding: 5px;
}

#friendsViewRequestsList .image {
	float: left;
	height: 50px;
	width: 50px;
}

#friendsViewRequestsList .memberInfo {
	float: left;
	padding: 3px 0px 0px 10px;
	vertical-align: top;
}

#friendsViewRequestsList .name {
	font-size: 20px;
}

#friendsViewRequestsList .lastName {
	font-weight: bold;
}

#friendsViewRequestsList .mutualFriends {
	font-size: 16px;
	color: #777;
}

/*****************/
/*  NEW INKLING  */
/*****************/

#newInklingViewInvitees {
	border: solid 1px #DDD;
	background-color: #FFFFFF;
	border-radius: 7px;
	padding: 10px;
	height: 45px;
}

#newInklingViewInvitees p {
	float: left;
}

#newInklingViewInvitees .disclosureArrow {
	float: right;
	margin-top: 5px;
}

/****************/
/* PROFILE VIEW */
/****************/

#profileViewList {
	margin: 10px;
	border-radius: 7px;
	border: 1px solid #CCCCCC;
}

#profileViewList p {
	float: left;
	font-weight: bold;
}

#profileViewList .disclosureArrow {
	float: right;
	margin-top: 5px;
}

/******************/
/* TOUCH CALENDAR */
/******************/
/* line 17, ../scss/Ext.ux.TouchCalendar.scss */
.touch-calendar-view table {
  width: 100%;
  border-collapse: separate;
  table-layout: fixed;
  font-size: 20px;
  color: #3F4E5E;
  background-color: #EEE;
}
/* line 28, ../scss/Ext.ux.TouchCalendar.scss */
.touch-calendar-view table.week td {
  vertical-align: top;
}
/* line 38, ../scss/Ext.ux.TouchCalendar.scss */
.touch-calendar-view table.day td.time-block {
  text-align: left;
  background-image: none;
  font-size: 0.7em;
  height: 30px;
}
/* line 52, ../scss/Ext.ux.TouchCalendar.scss */
.touch-calendar-view tbody td {
  border-bottom: 1px solid #a3a7af;
  border-left: 1px solid #a3a7af;
  border-right: 1px solid #dadbde;
  border-top: 1px solid #dadbde;
}
/* line 62, ../scss/Ext.ux.TouchCalendar.scss */
.touch-calendar-view td {
  font-weight: bold;
  position: relative;
  text-align: center;
  vertical-align: middle;
  font-size: 1.3em;
  background-color: #cfced3;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #b5b3bb), color-stop(10%, #c2c1c7), color-stop(65%, #cfced3), color-stop(100%, #d0cfd4));
  background-image: -webkit-linear-gradient(#b5b3bb, #c2c1c7 10%, #cfced3 65%, #d0cfd4);
  background-image: linear-gradient(#b5b3bb, #c2c1c7 10%, #cfced3 65%, #d0cfd4);
}
/* line 71, ../scss/Ext.ux.TouchCalendar.scss */
.touch-calendar-view td.today {
  color: #FFFFFF;
  text-shadow: #333 1px 1px 2px;
  -webkit-box-shadow: inset 0px 0px 8px #000;
  border: 1px solid black;
  background: #7188a8;
  background-color: #44566f;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #313d4f), color-stop(10%, #3a4a5f), color-stop(65%, #44566f), color-stop(100%, #455771));
  background-image: -webkit-linear-gradient(#313d4f, #3a4a5f 10%, #44566f 65%, #455771);
  background-image: linear-gradient(#313d4f, #3a4a5f 10%, #44566f 65%, #455771);
}
/* line 82, ../scss/Ext.ux.TouchCalendar.scss */
.touch-calendar-view td.unselectable {
  color: #89909A;
  background-color: #cda3a8;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #bb8289), color-stop(10%, #c49399), color-stop(65%, #cda3a8), color-stop(100%, #cea5aa));
  background-image: -webkit-linear-gradient(#bb8289, #c49399 10%, #cda3a8 65%, #cea5aa);
  background-image: linear-gradient(#bb8289, #c49399 10%, #cda3a8 65%, #cea5aa);
}
/* line 88, ../scss/Ext.ux.TouchCalendar.scss */
.touch-calendar-view td.selected {
  color: #FFFFFF;
  text-shadow: #333 1px 1px 0px;
  border: 1px solid black;
  background: #1980e5;
  background-color: #4699eb;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #8bbff2), color-stop(50%, #5da6ed), color-stop(51%, #4699eb), color-stop(100%, #2f8de8));
  background-image: -webkit-linear-gradient(#8bbff2, #5da6ed 50%, #4699eb 51%, #2f8de8);
  background-image: linear-gradient(#8bbff2, #5da6ed 50%, #4699eb 51%, #2f8de8);
}
/* line 98, ../scss/Ext.ux.TouchCalendar.scss */
.touch-calendar-view td.today.selected {
  color: #FFFFFF;
  text-shadow: #333 1px 1px 2px;
  border: 1px solid black;
  background: #1980e5;
  background-color: #0f4d89;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #0a335b), color-stop(10%, #0c4072), color-stop(65%, #0f4d89), color-stop(100%, #0f4e8b));
  background-image: -webkit-linear-gradient(#0a335b, #0c4072 10%, #0f4d89 65%, #0f4e8b);
  background-image: linear-gradient(#0a335b, #0c4072 10%, #0f4d89 65%, #0f4e8b);
}
/* line 108, ../scss/Ext.ux.TouchCalendar.scss */
.touch-calendar-view td.prev-month, .touch-calendar-view td.next-month {
  color: #89909A;
}
/* line 113, ../scss/Ext.ux.TouchCalendar.scss */
.touch-calendar-view td.prev-month.selected, .touch-calendar-view td.next-month.selected {
  color: #FFFFFF;
}
/* line 119, ../scss/Ext.ux.TouchCalendar.scss */
.touch-calendar-view thead {
  background-color: #cfced3;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(2%, #e1e1e4), color-stop(100%, #bdbbc2));
  background-image: -webkit-linear-gradient(#ffffff, #e1e1e4 2%, #bdbbc2);
  background-image: linear-gradient(#ffffff, #e1e1e4 2%, #bdbbc2);
}
/* line 123, ../scss/Ext.ux.TouchCalendar.scss */
.touch-calendar-view thead th {
  font-size: 9px;
  vertical-align: bottom;
  padding-bottom: 3px;
  color: #3F4E5E;
  text-align: center;
  height: 46px;
  text-shadow: white 1px 1px 1px;
  font-weight: bold;
  border-bottom: 1px solid #a3a7af;
}
/* line 135, ../scss/Ext.ux.TouchCalendar.scss */
.touch-calendar-view thead th:first-child {
  background: url(../images/larr.png) center center no-repeat;
  cursor: pointer;
}
/* line 141, ../scss/Ext.ux.TouchCalendar.scss */
.touch-calendar-view thead th:last-child {
  background: url(../images/rarr.png) center center no-repeat;
  cursor: pointer;
}
/* line 147, ../scss/Ext.ux.TouchCalendar.scss */
.touch-calendar-view thead th span {
  font-size: 20px;
  font-weight: bold;
  height: 30px;
  left: 14.5%;
  position: absolute;
  text-align: center;
  top: 6px;
  width: 71%;
  z-index: 999;
  text-shadow: white 1px 1px 1px;
}