{% load debug_value from extraTags %}

<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<!-- 
Copyright 2012 Chad Heise & Jacob Wenger - All Rights Reserved
-->
<html>
    <head>
	    {% block title %}
    	{% endblock title %}
	    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    	<meta name="author" content="Chad Heise and Jacob Wenger">

        <!-- iPhone web app -->
        <link rel="apple-touch-icon" href="{{ STATIC_URL }}/media/images/main/apple-touch-icon.png" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="default" />
        <!--<meta name="viewport" content="user-scalable=no" />-->
        <link rel="apple-touch-startup-image" href="{{ STATIC_URL }}/media/images/main/splash.png" />
	    
        <!-- Favicon -->
        <link rel="shorcut icon" type="image/x-icon" href="{{ STATIC_URL }}/media/images/main/favicon.ico" />

        <!-- CSS files -->
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/css/main.css" />
    	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/css/header.css" />
    	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/css/960_24_col.css" />
        <!--[if IE]><link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/css/960_24_col_IE6_IE7.css" /><![endif]-->
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/css/suggestions.css" />
        {% block css %}
        {% endblock css %}
        
        <!-- JavaScript files -->
        <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}/js/ajaxPost.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}/js/header.js"></script>
        {% if not null|debug_value %}
            <script type="text/javascript" src="{{ STATIC_URL }}/js/googleAnalytics.js"></script>
        {% endif %}
        {% block js %}
        {% endblock js %}
        <!-- Used to allow for iPhone web app links to stay within web app and not go to Safari -->
        <script>(function(a,b,c){if(c in b&&b[c]){var d,e=a.location,f=/^(a|html)$/i;a.addEventListener("click",function(a){d=a.target;while(!f.test(d.nodeName))d=d.parentNode;"href"in d&&(d.href.indexOf("http")||~d.href.indexOf(e.host))&&(a.preventDefault(),e.href=d.href)},!1)}})(document,window.navigator,"standalone")</script>
    </head>

    <body debug="{{ null|debug_value }}">
        <!-- Header -->
        {% include "header.html" %}

        <!-- Main content -->
        {% block mainContent %}
        {% endblock mainContent %}
    
        <div style="height: 50px;"></div>
    
        <!-- Footer -->
        {% include "footer.html" %}
        
        <!-- Crazy Egg click tracking -->
        <script type="text/javascript">
            setTimeout(function(){var a=document.createElement("script");
            var b=document.getElementsByTagName('script')[0];
            a.src=document.location.protocol+"//dnn506yrbagrg.cloudfront.net/pages/scripts/0012/6244.js?"+Math.floor(new Date().getTime()/3600000);
            a.async=true;a.type="text/javascript";b.parentNode.insertBefore(a,b)}, 1);
        </script>
    </body>
</html>
