{% load minus divided_by percentage_of from extraTags %}

<p class="diagnosticSectionHeader">Membership:</p>
<div class="diagnosticSection">
    <p>Total: {{ data.total_members }}</p>
</div>

<p class="diagnosticSectionHeader">Inklings:</p>
<div class="diagnosticSection">
    <p>Total: {{ data.num_inklings }}</p>
    <p>Members who have inkled: {{ data.num_members_inkled }} ({{ data.num_members_inkled|percentage_of:data.total_members }}%)</p>
    <p>Members who have not inkled: {{ data.total_members|minus:data.num_members_inkled }} ({{ data.total_members|minus:data.num_members_inkled|percentage_of:data.total_members }}%)</p>
</div>
