{% load minus divided_by percentage_of from extraTags %}

<p class="diagnosticSectionHeader">Membership:</p>
<div class="diagnosticSection">
    <p>Total: {{ data.total_members }}</p>
</div>

<p class="diagnosticSectionHeader">Blots:</p>
<div class="diagnosticSection">
    <p>Total: {{ data.num_blots }}</p>
    <p>Average number of blots: {{ data.num_blots|divided_by:data.total_members }}</p>
    <p>Members who have created a blot: {{ data.num_some_blots }} ({{ data.num_some_blots|percentage_of:data.total_members }}%)</p>
    <p>Members who have not created a blot: {{ data.total_members|minus:data.num_some_blots }} ({{ data.total_members|minus:data.num_some_blots|percentage_of:data.total_members }}%)</p>
</div>
