{% load minus divided_by percentage_of from extraTags %}

<p class="diagnosticSectionHeader">Membership:</p>
<div class="diagnosticSection">
    <p>Total: {{ data.total_members }}</p>
    <p>Joined: {{ data.num_members }} ({{ data.num_members|percentage_of:data.total_members }}%)</p>
    <p>Verified: {{ data.num_verified }} ({{ data.num_verified|percentage_of:data.num_members }}%)</p>
    <p>Unverified: {{ data.num_members|minus:data.num_verified }} ({{ data.num_members|minus:data.num_verified|percentage_of:data.num_members }}%)</p>
    <p>Deactived: {{ data.num_deactived }} ({{ data.num_deactived|percentage_of:data.num_members }}%)</p>
</div>

<p class="diagnosticSectionHeader">Gender:</p>
<div class="diagnosticSection">
    <p>Male: {{ data.num_male }} ({{ data.num_male|percentage_of:data.num_members }}%)</p>
    <p>Female: {{ data.num_members|minus:data.num_male }} ({{ data.num_members|minus:data.num_male|percentage_of:data.num_members }}%)</p>
</div>

<p class="diagnosticSectionHeader">Profile updates:</p>
<div class="diagnosticSection">
    <p>Picture: {{ data.num_updated_profile_picture }} ({{ data.num_updated_profile_picture|percentage_of:data.num_members }}%)</p>
    <p>Phone: {{ data.num_updated_phone }} ({{ data.num_updated_phone|percentage_of:data.num_members }}%)</p>
    <p>Street: {{ data.num_updated_street }} ({{ data.num_updated_street|percentage_of:data.num_members }}%)</p>
    <p>Location: {{ data.num_updated_location }} ({{ data.num_updated_location|percentage_of:data.num_members }}%)</p>
</div>

<p class="diagnosticSectionHeader">Privacy updates:</p>
<div class="diagnosticSection">
    <p>Email: {{ data.num_updated_email_privacy }} ({{ data.num_updated_email_privacy|percentage_of:data.num_members }}%)</p>
    <p>Phone: {{ data.num_updated_phone_privacy }} ({{ data.num_updated_phone_privacy|percentage_of:data.num_members }}%)</p>
    <p>Location: {{ data.num_updated_location_privacy }} ({{ data.num_updated_location_privacy|percentage_of:data.num_members }}%)</p>
    <p>Birthday: {{ data.num_updated_birthday_privacy }} ({{ data.num_updated_birthday_privacy|percentage_of:data.num_members }}%)</p>
    <p>Followers: {{ data.num_updated_followers_privacy }} ({{ data.num_updated_followers_privacy|percentage_of:data.num_members }}%)</p>
    <p>Followings: {{ data.num_updated_followings_privacy }} ({{ data.num_updated_followings_privacy|percentage_of:data.num_members }}%)</p>
    <p>Networks: {{ data.num_updated_networks_privacy }} ({{ data.num_updated_networks_privacy|percentage_of:data.num_members }}%)</p>
    <p>Inklings: {{ data.num_updated_inklings_privacy }} ({{ data.num_updated_inklings_privacy|percentage_of:data.num_members }}%)</p>
</div>

<p class="diagnosticSectionHeader">Email preference updates:</p>
<div class="diagnosticSection">
    <p>Request to be followed: {{ data.num_updated_requested_email_preference }} ({{ data.num_updated_requested_email_preference|percentage_of:data.num_members }}%)</p>
    <p>Request to follow accepted: {{ data.num_updated_accepted_email_preference }} ({{ data.num_updated_accepted_email_preference|percentage_of:data.num_members }}%)</p>
    <p>Invited to inkling: {{ data.num_updated_invited_email_preference }} ({{ data.num_updated_invited_email_preference|percentage_of:data.num_members }}%)</p>
    <p>General: {{ data.num_updated_general_email_preference }} ({{ data.num_updated_general_email_preference|percentage_of:data.num_members }}%)</p>
</div>
