{% load minus divided_by percentage_of from extraTags %}

<p class="diagnosticSectionHeader">Membership:</p>
<div class="diagnosticSection">
    <p>Total: {{ data.total_members }}</p>
</div>

<p class="diagnosticSectionHeader">Invitations:</p>
<div class="diagnosticSection">
    <p>Total invitations: {{ data.num_invitations }}</p>
    <p>Average number of invitations per member: {{ data.num_invitations|divided_by:data.total_members }}</p>
    <p>Members who have sent an invitation: {{ data.num_some_invitations_sent }} ({{ data.num_some_invitations_sent|percentage_of:data.total_members }}%)</p>
    <p>Members who have not sent an invitation: {{ data.total_members|minus:data.num_some_invitations_sent }} ({{ data.total_members|minus:data.num_some_invitations_sent|percentage_of:data.total_members }}%)</p>
</div>
