{% load minus divided_by percentage_of from extraTags %}

<p class="diagnosticSectionHeader">Membership:</p>
<div class="diagnosticSection">
    <p>Total: {{ data.total_members }}</p>
</div>

<p class="diagnosticSectionHeader">Networks:</p>
<div class="diagnosticSection">
    <p>Total: {{ data.num_networks }}</p>
    <p>Average number of networks: {{ data.num_network_members|divided_by:data.total_members }}</p>
    <p>Members who are in a network: {{ data.num_some_networks }} ({{ data.num_some_networks|percentage_of:data.total_members }}%)</p>
    <p>Members who are not in a network: {{ data.total_members|minus:data.num_some_networks }} ({{ data.total_members|minus:data.num_some_networks|percentage_of:data.total_members }}%)</p>
    <p>Number of members in networks (duplicates included): {{ data.num_network_members }}</p>
</div>
