<div class="inklingInvitation" data-invitationId="{{ invitation.id }}" data-inklingId="{{ invitation.inkling.id }}">
    <!-- Location -->
    <p class="location">{{ invitation.inkling.location|default:"Location TBD" }}</p>
    
    <!-- Time -->
    {% if invitation.inkling.time %}
        <p class="time">{{ invitation.inkling.time }}</p>
        <p class="dot">&middot</p>
    {% endif %}
    <p class="date">{{ invitation.inkling.date|default:"No date" }}</p>

    <!-- Invitation response buttons -->
    {% if invitation.status == "pending" %}
        <input class="acceptInklingInvitationButton" type="button" value="Accept" />
        <input class="ignoreInklingInvitationButton" type="button" value="Ignore" />
    {% else %}
        <input class="hideInklingInvitationButton" type="button" value="Hide" />
    {% endif %}

    <!-- Disclosure arrow -->
    <img class="disclosureArrow" src="resources/images/disclosureArrow.png" />
</div>
