{% autoescape on %}
<div class="inklingListItem" data-inklingId="{{ i.id }}" data-isMemberAttending="{{ i.is_member_attending}}">
    <!-- Location -->
    <p class="location">{{ i.location|default:"Location TBD" }}</p>

    <!-- Time -->
    {% if i.time %}
        <p class="time">{{ i.time }}</p>
        <p class="dot">&middot</p>
    {% endif %}

    <!-- Members attending -->
    {% for m in members_attending %}
        <img class="attendingMemberThumbnail" src="{{ m.get_picture_path }}" />
    {% endfor %}
    {% if num_other_members_attending > 0 %}
        <p class="numOtherMembersAttending">+{{ num_other_members_attending }}</p>
    {% endif %}

    <!-- Disclosure arrow -->
    <img class="disclosureArrow" src="resources/images/disclosureArrow.png" />
</div>
{% endautoescape %}