{% load humanize %}

{% autoescape on %}
<div class="view" id="inklingView">
    <!-- Inkling header -->
    <div id="inklingHeader">
        <div class="numAttendees">{{ inkling.get_num_members_attending }}</div>
        <div class="location">{{ inkling.location|default:"Location TBD" }}</div>
        {% if inkling in user.inklings.all and not inkling.is_frozen %}
            <img id="editInklingButton" src="resources/images/icons/gear.png" />
        {% endif %}
        <div class="clear"></div>
    </div>

    <!-- Inkling information -->
    <div id="inklingInfo">
        <!-- Basic info -->
        {% if inkling.time or inkling.category %}
            <div class="banner">Basic Information</div>
            <div class="infoContainer">
                {% if inkling.time %}
                    <div class="time"><span class="basicInfoLabel">Time</span>: {{ inkling.time }}</div>
                {% endif %}
                {% if inkling.category %}
                    <div class="category"><span class="basicInfoLabel">Category</span>: {{ inkling.category }}</div>
                {% endif %}
                <div class="clear"></div>
            </div>
        {% endif %}

        <!-- Members attending -->
        <div class="banner">Attending</div>
        <div class="infoContainer">
            <div id="membersAttendingPictures">
                {% for m in members_attending %}
                    <img class="memberPicture" src="{{ m.get_picture_path }}" memberName="{{ m.get_full_name }}" />
                {% empty %}
                    <div>No attendees</div>
                {% endfor %}
            </div>

            {% if members_attending %}
                <!-- Disclosure arrow -->
                {% if members_attending|length <= 4 %}
                    <img id="membersAttendingDisclosureArrow" class="disclosureArrow" src="resources/images/disclosureArrow.png" />
                {% else %}
                    <img id="membersAttendingDisclosureArrow" class="disclosureArrow lowerDisclosureArrow" src="resources/images/disclosureArrow.png" />
                {% endif %}

                <div class="clear"></div>

                <!-- Num other members attending -->
                {% if num_other_members_attending != 0 %}
                    <p>{{ num_other_members_attending }} others attending</p>
                {% endif %}
            {% endif %}

            <div class="clear"></div>
        </div>

        <!-- Members awaiting reply -->
        <div class="banner">Awaiting</div>
        <div class="infoContainer">
            {% for m in members_awaiting_reply %}
                <img class="memberPicture" src="{{ m.get_picture_path }}" memberName="{{ m.get_full_name }}" />
            {% empty %}
                <div>No pending invitations</div>
            {% endfor %}

            {% if members_awaiting_reply %}
                <!-- Disclosure arrow -->
                {% if members_awaiting_reply|length <= 4 %}
                    <img id="membersAwaitingReplyDisclosureArrow" class="disclosureArrow" src="resources/images/disclosureArrow.png" />
                {% else %}
                    <img id="membersAwaitingReplyDisclosureArrow" class="disclosureArrow lowerDisclosureArrow" src="resources/images/disclosureArrow.png" />
                {% endif %}

                <div class="clear"></div>

                <!-- Num others awaiting reply -->
                {% if num_other_members_awaiting_reply != 0 %}
                    <p>{{ num_other_members_awaiting_reply }} others awaiting reply</p>
                {% endif %}
            {% endif %}
        </div>

        <!-- Notes -->
        {% if inkling.notes %}
            <div class="banner">Notes</div>
            <div class="infoContainer">
                <div>{{ inkling.notes }}</div>
            </div>
        {% endif %}
    </div>
</div>
{% endautoescape %}