{% load humanize %}

<div class="feedUpdate">
    {% if feed_update %}
        <!-- Icon -->
        {% if feed_update.creator == user %}
            <img class="floatRight" src="resources/images/{{ feed_update.get_icon_name }}" />
        {% else %}
            <img src="resources/images/{{ feed_update.get_icon_name }}" />
        {% endif %}

        <!-- Update information -->
        <div class="feedUpdateInfo">
            <p class="text"><span class="creatorName">{{ feed_update.creator.get_full_name }}</span> {{ feed_update.get_text }}</p>
            <p class="timestamp">{{ feed_update.date_created|naturaltime }}</p>
        </div>
    {% else %}
        <!-- Icon -->
        {% if inkling.creator == user %}
            <img class="floatRight" src="resources/images/feed/inkle.jpg" />
        {% else %}
            <img src="resources/images/feed/inkle.jpg" />
        {% endif %}

        <!-- Update information -->
        <div class="feedUpdateInfo">
            <p class="text"><span class="creatorName">{{ inkling.creator.get_full_name }}</span> created this inkling.</p>
            <p class="timestamp">{{ inkling.date_created|naturaltime }}</p>
        </div>
    {% endif %}
</div>
