{% load truncate_characters from extraTags %}

{% for category, categoryTitle, suggestionType in categories %}
    <!-- Category title -->
    {% if categoryTitle %}
        <div class="inviteeSuggestionCategory">
            <p>{{ categoryTitle }}</p>
        </div>
    {% endif %}
      
    <!-- Category suggestions -->
    {% for suggestion in category %}
        <div class="inviteeSuggestion" suggestionID="{{ suggestion.id }}" category="{{ categoryTitle|lower|default:"" }}">
            {% if suggestionType == "blots" %}
                <img src="{{ STATIC_URL }}/media/images/main/blot.jpg" />
            {% else %}
                {% if category.suggestionType %}
                    <img src="{{ STATIC_URL }}/media/images/{{ category.suggestionType }}/{{ suggestion.id }}.jpg" />
                {% else %}
                    <img src="{{ STATIC_URL }}/media/images/{{ suggestionType }}/{{ suggestion.id }}.jpg" />
                {% endif %}
            {% endif %}
            <p fullName="{{ suggestion.name }}">{{ suggestion.name|truncate_characters:numChars }}</p>
        </div>
    {% endfor %}
{% empty %}
    <!-- No suggestions -->
    <div id="noSuggestions">No results</div>
{% endfor %}

