{% load truncate_characters from extraTags %}

<div class="locationBoardCard" url="{{ location.get_absolute_url }}"{% if location.name %}type="location"{% else %}type="memberPlace"{% endif %}>
    <!-- Location count -->
    <div class="locationBoardCardCount">
        <img src="{{ STATIC_URL }}/media/images/main/blueBlot.png"/>
        <p>{{ location.count }}</p>
    </div>
        
    <!-- Location name, street, city, and state -->
    <div class="locationBoardCardText {% if not location.city or not location.state %}noCityState{% else %}{% if not location.street %}noStreet{% endif %}{% endif %}">
        <!-- Location name -->
        {% if location.name %}
            <p class="locationBoardCardName">{{ location.name|truncate_characters:23 }}</p>
        {% else %}
            <p class="locationBoardCardName">{{ location.get_full_name }}'s Place</p>
        {% endif %}
        
        <!-- Location street -->
        {% if location.street %}
            <div class="locationBoardCardStreet">{{ location.street }}</div>
        {% endif %}
        
        <!-- Location city and state -->
        {% if location.city and location.state %}
            <div class="locationBoardCardCity">{{ location.city }}, {{ location.state }}</div>
        {% endif %}
    </div>
</div>
