<div class="member" data-memberId="{{ m.id }}">
    <!-- Delete lock -->
    {% if include_delete_items %}
        <img class="deleteLock deleteLockHidden" src="resources/images/delete.png">
    {% endif %}

    <!-- Selection item -->
    {% if include_selection_item %}
        {% if m.selected %}
            <img class="selectionItem selected" src="resources/images/selected.png">
        {% else %}
            <img class="selectionItem" src="resources/images/deselected.png">
        {% endif %}
    {% endif %}

    <!-- Member image -->
    <img class="memberImage" src="{{ m.get_picture_path }}" />

    <!-- Member info -->
    <div class="memberInfo">
        <!-- Member name -->
        <div class="memberName">
            <span class="firstName">{{ m.first_name }}</span>
            <span class="lastName">{{ m.last_name }}</span>
        </div>

        <!-- Mutual friends -->
        {% if m != member %}
            <p class="numMutualFriends">{{ m.num_mutual_friends }} mutual friend{{ m.num_mutual_friends|pluralize }}</p>
        {% endif %}
    </div>

    <!-- Delete button -->
    {% if include_delete_items %}
        <div class="deleteButtonPlaceholder"></div>
    {% endif %}

    <!-- Add friend buttons -->
    {% if include_add_friend_buttons %}
        {% if m in member.friends.all %}
            <input class="isFriendButton" type="button" value="Friends" />
        {% else %}
            {% if m == member %}
                <input class="isFriendButton" type="button" value="Me" />
            {% else %}
                <input class="addFriendButton" type="button" value="Add Friend" />
            {% endif %}
        {% endif %}
    {% endif %}

    <!-- Friend request buttons -->
    {% if include_friend_request_buttons %}
        <input class="acceptRequestButton" type="button" value="Accept" />
        <input class="ignoreRequestButton" type="button" value="Ignore" />
    {% endif %}
</div>
