<!-- Dinner inkling -->
<div class="inklingContainer">
    <div id="dinnerInkling" class="inkling" inklingType="dinner">
        <div>
            <!-- Inkling category -->
            <p class="inklingTitle">Dinner</p>

            <!-- Inkling location image -->
            {% if member.dinner_inkling.member_place %}
                <img class="inklingImage" src="{{ STATIC_URL }}/media/images/members/{{ member.dinner_inkling.member_place.id|default:"default" }}.jpg" />
            {% else %}
                <img class="inklingImage" src="{{ STATIC_URL }}/media/images/locations/{{ member.dinner_inkling.location.id|default:"default" }}.jpg" />
            {% endif %}

            <!-- Inkling location name -->
            {% if not pastDate %}
                {% if member.dinner_inkling.member_place %}
                    <input type="text" location="{{ member.dinner_inkling.member_place.first_name }} {{ member.dinner_inkling.member_place.last_name }}'s Place" />
                {% else %}
                    {% if member.dinner_inkling.location %}
                        <input type="text" location="{{ member.dinner_inkling.location.name }}" />
                    {% else %}
                        <input type="text" class="emptyInklingInput" location="Where are you going?" />
                    {% endif %}
                {% endif %}
            {% else %}
                <div style="margin-top: 5px;">
                    {% if member.dinner_inkling.member_place %}
                        <a class="pastInklingText" href="{{ member.dinner_inkling.member_place.get_absolute_url }}">{{ member.dinner_inkling.member_place.get_full_name }}'s Place</a>
                    {% else %}
                        <a class="pastInklingText" href="{{ member.dinner_inkling.location.get_absolute_url }}dinner/{{ member.dinner_inkling.get_date_url }}">{{ member.dinner_inkling.location.name|default:"" }}</a>
                    {% endif %}
                </div>
            {% endif %}
        </div>

        <!-- Inkling suggestions -->
        <div class="suggestions inklingSuggestions"></div>
    </div>
    
    <!-- Invitations -->
    {% if not pastDate %}
        <!-- Inkling invitation button -->
        <button class="button inklingInviteButton {% if not member.dinner_inkling or member.dinner_inkling.member_place and member.dinner_inkling.member_place != member %}hidden{% endif %}">Invite</button>

        <!-- Inkling invitation container -->
        <div id="dinnerInklingInviteContainer" class="inklingInviteContainer" inklingID="{{ member.dinner_inkling.id }}">
            <!-- Invitees -->
            <p class="invitationLabel">Invitees:</p>
            <input class="emptyInput" type="text" maxlength="100" value="Invite people or blots" />
            <div class="inviteesContainer"></div>

            <!-- Invitation message -->
            <p class="invitationLabel" style="padding-top: 7px;">Message:</p>
            <textarea class="emptyInput" maxlength="200" type="text">Send a message with this invitation</textarea>

            <!-- Send button -->
            <div style="text-align: center;">
                <button class="button sendInklingInviteButton">Send</button>
            </div>
        </div>

        <!-- Inkling invitation suggestions -->
        <div class="suggestions inklingInviteSuggestions"></div>

        <!-- Inkling invitation confirmation -->
        <div class="inklingInviteConfirmation"></div>
    {% endif %}
</div>

<!-- Pregame inkling -->
<div class="inklingContainer">
    <div id="pregameInkling" class="inkling" inklingType="pregame">
        <div>
            <!-- Inkling category -->
            <p class="inklingTitle">Pregame</p>

            <!-- Inkling location image -->
            {% if member.pregame_inkling.member_place %}
                <img class="inklingImage" src="{{ STATIC_URL }}/media/images/members/{{ member.pregame_inkling.member_place.id|default:"default" }}.jpg" />
            {% else %}
                <img class="inklingImage" src="{{ STATIC_URL }}/media/images/locations/{{ member.pregame_inkling.location.id|default:"default" }}.jpg" />
            {% endif %}

            <!-- Inkling location name -->
            {% if not pastDate %}
                {% if member.pregame_inkling.member_place %}
                    <input type="text" location="{{ member.pregame_inkling.member_place.first_name }} {{ member.pregame_inkling.member_place.last_name }}'s Place" />
                {% else %}
                    {% if member.pregame_inkling.location %}
                        <input type="text" location="{{ member.pregame_inkling.location.name }}" />
                    {% else %}
                        <input type="text" class="emptyInklingInput" location="Where are you going?" />
                    {% endif %}
                {% endif %}
            {% else %}
                <div style="margin-top: 5px;">
                    {% if member.pregame_inkling.member_place %}
                        <a class="pastInklingText" href="{{ member.pregame_inkling.member_place.get_absolute_url }}">{{ member.pregame_inkling.member_place.get_full_name }}'s Place</a>
                    {% else %}
                        <a class="pastInklingText" href="{{ member.pregame_inkling.location.get_absolute_url }}pregame/{{ member.pregame_inkling.get_date_url }}">{{ member.pregame_inkling.location.name|default:"" }}</a>
                    {% endif %}
                </div>
            {% endif %}
        </div>

        <!-- Inkling suggestions -->
        <div class="suggestions inklingSuggestions"></div>
    </div>

    <!-- Invitations -->
    {% if not pastDate %}
        <!-- Inkling invitation button -->
        <button class="button inklingInviteButton {% if not member.pregame_inkling or member.pregame_inkling.member_place and member.pregame_inkling.member_place != member %}hidden{% endif %}">Invite</button>

        <!-- Inkling invitation container -->
        <div id="pregameInklingInviteContainer" class="inklingInviteContainer" inklingID="{{ member.pregame_inkling.id }}">
            <!-- Invitees -->
            <p class="invitationLabel">Invitees:</p>
            <input class="emptyInput" type="text" maxlength="100" value="Invite people or blots" />
            <div class="inviteesContainer"></div>

            <!-- Invitation message -->
            <p class="invitationLabel" style="padding-top: 7px;">Message:</p>
            <textarea class="emptyInput" maxlength="200" type="text">Send a message with this invitation</textarea>

            <!-- Send button -->
            <div style="text-align: center;">
                <button class="button sendInklingInviteButton">Send</button>
            </div>
        </div>

        <!-- Inkling invitation suggestions -->
        <div class="suggestions inklingInviteSuggestions"></div>

        <!-- Inkling invitation confirmation -->
        <div class="inklingInviteConfirmation"></div>
    {% endif %}
</div>

<!-- Main event inkling -->
<div class="inklingContainer">
    <div id="mainEventInkling" class="inkling" inklingType="mainEvent">
        <div>
            <!-- Inkling category -->
            <p class="inklingTitle">Main Event</p>

            <!-- Inkling location image -->
            {% if member.main_event_inkling.member_place %}
                <img class="inklingImage" src="{{ STATIC_URL }}/media/images/members/{{ member.main_event_inkling.member_place.id|default:"default" }}.jpg" />
            {% else %}
                <img class="inklingImage" src="{{ STATIC_URL }}/media/images/locations/{{ member.main_event_inkling.location.id|default:"default" }}.jpg" />
            {% endif %}

            <!-- Inkling location name -->
            {% if not pastDate %}
                {% if member.main_event_inkling.member_place %}
                    <input type="text" location="{{ member.main_event_inkling.member_place.first_name }} {{ member.main_event_inkling.member_place.last_name }}'s Place" />
                {% else %}
                    {% if member.main_event_inkling.location %}
                        <input type="text" location="{{ member.main_event_inkling.location.name }}" />
                    {% else %}
                        <input type="text" class="emptyInklingInput" location="Where are you going?" />
                    {% endif %}
                {% endif %}
            {% else %}
                <div style="margin-top: 5px;">
                    {% if member.main_event_inkling.member_place %}
                        <a class="pastInklingText" href="{{ member.main_event_inkling.member_place.get_absolute_url }}">{{ member.main_event_inkling.member_place.get_full_name }}'s Place</a>
                    {% else %}
                        <a class="pastInklingText" href="{{ member.main_event_inkling.location.get_absolute_url }}mainEvent/{{ member.main_event_inkling.get_date_url }}">{{ member.main_event_inkling.location.name|default:"" }}</a>
                    {% endif %}
                </div>
            {% endif %}
        </div>

        <!-- Inkling suggestions -->
        <div class="suggestions inklingSuggestions"></div>
    </div>
    
    <!-- Invitations -->
    {% if not pastDate %}
        <!-- Inkling invitation button -->
        <button class="button inklingInviteButton {% if not member.main_event_inkling or member.main_event_inkling.member_place and member.main_event_inkling.member_place != member %}hidden{% endif %}">Invite</button>

        <!-- Inkling invitation container -->
        <div id="mainEventInklingInviteContainer" class="inklingInviteContainer" inklingID="{{ member.main_event_inkling.id }}">
            <!-- Invitees -->
            <p class="invitationLabel">Invitees:</p>
            <input class="emptyInput" type="text" maxlength="100" value="Invite people or blots" />
            <div class="inviteesContainer"></div>

            <!-- Invitation message -->
            <p class="invitationLabel" style="padding-top: 7px;">Message:</p>
            <textarea class="emptyInput" maxlength="200" type="text">Send a message with this invitation</textarea>

            <!-- Send button -->
            <div style="text-align: center;">
                <button class="button sendInklingInviteButton">Send</button>
            </div>
        </div>

        <!-- Inkling invitation suggestions -->
        <div class="suggestions inklingInviteSuggestions"></div>

        <!-- Inkling invitation confirmation -->
        <div class="inklingInviteConfirmation"></div>
    {% endif %}
</div>
