<!-- Notifications content links -->
<div id="othersInklingsContentLinks" class="subsectionContentLinks grid_17 alpha omega">
    <p class="selectedSubsectionContentLink" contentType="all">All</p>
    <p contentType="dinner">Dinner</p>
    <p contentType="pregame">Pregame</p>
    <p contentType="mainEvent">Main Event</p>
</div>
<div class="clear"></div>

<!-- Calendar -->
<div id="calendarContainer" class="grid_24 alpha omega">
    {% include "calendar.html" %}
</div>
<div class="clear"></div>

<div id="filters" style="text-align: center;">
    <div style="display: inline-block;">    
        <!-- People select title -->
        <p class="subheader" style="display: inline-block; margin-right: 5px;">Show inklings for:</p>

        <!-- People select -->
        <select id="locationBoardPeopleSelect" class="locationBoardSelect" style="display: inline-block; margin-right: 30px; width: 300px;">
            <optgroup label="Blots">
                {% if member.networks.all %}
                    <option people="blots">All blots</option>
                {% else %}
                    <option people="blots" selected="selected">All blots</option>
                {% endif %}
                {% for blot in member.blots.all %}
                    <option blotID="{{ blot.id }}">{{ blot.name }}</option>
                {% endfor %}
            </optgroup>

            {% if member.networks.all %}
                <optgroup label="Networks">
                    {% for network in member.networks.all %}
                        {% if forloop.counter == 1 %}
                            <option networkID="{{ network.id }}" selected="selected">{{ network.name }}</option>
                        {% else %}    
                            <option networkID="{{ network.id }}">{{ network.name }}</option>
                        {% endif %}
                    {% endfor %}
                </optgroup>
            {% endif %}
        </select>
    </div>
    <div class="clear"></div>
</div>

<!-- Location board -->
<div id="locationBoard">
    {% include "locationBoard.html" %}
</div>
