<div id="allInklingsView">
    {% for inkling in inklings %}
        <div class="inkling" inklingId="{{ inkling.id }}">
            <div class="numAttendees">{{ inkling.get_num_attendees }}</div>
            <div class="allInklingsInfo">
                <div class="location">{{ inkling.location.name }}</div>
                <div>
                    <div class="time">{{ inkling.time }}</div>
                    <div class="dot">&middot</div>
                    <div class="category">{{ inkling.category }}</div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    {% endfor %}
</div>
