<div id="blot{{ b.id }}" class="blot">
    <!-- Delete lock -->
    <img id="blot{{ b.id }}DeleteLock" class="deleteLock deleteLockHidden" blotId="{{ b.id }}" src="resources/images/delete.png">

    <!-- Blot info -->
    <div class="numMembers">{{ b.members.count }}</div>
    <div class="blotInfo">
        <div id="blot{{ b.id }}Name" class="name blotName">{{ b.name }}</div>
        <input id="blot{{ b.id }}NameInput" class="blotNameInput blotNameInputHidden" blotId="{{ b.id }}" value="{{ b.name }}" />
    </div>

    <!-- Delete button -->
    <input id="blot{{ b.id }}DeleteButton" class="deleteButton deleteButtonHidden" type="button" value="Delete" blotId="{{ b.id }}" />

    <!-- Disclosure arrow -->
    <img id="blot{{ b.id }}DisclosureArrow" class="disclosureArrow" blotId="{{ b.id }}" src="resources/images/disclosureArrow.png" />
</div>
