<div class="member">
    <!-- Selection button -->
    {% if m.selected %}
        <img id="{{ idPrefix }}Member{{ m.id }}SelectionButton" class="selectionButton" memberId="{{ m.id }}" src="resources/images/selected.png">
    {% else %}
        <img id="{{ idPrefix }}Member{{ m.id }}SelectionButton" class="selectionButton" memberId="{{ m.id }}" src="resources/images/deselected.png">
    {% endif %}

    <!-- Member image -->
    <img class="image" src="file:///Users/wengrfam/Desktop/inkle/myproject/inkle/static/media/images/members/{{ m.id }}.jpg" />

    <!-- Member info -->
    <div class="memberInfo">
        <div class="name">
            <span class="firstName">{{ m.first_name }}</span> 
            <span class="lastName">{{ m.last_name }}</span>
        </div>
    </div>
</div>
