<div id="group{{ g.id }}" class="group">
    <!-- Delete lock -->
    {% if g.id != -1 %}
        <img id="group{{ g.id }}DeleteLock" class="deleteLock deleteLockHidden" groupId="{{ g.id }}" src="resources/images/delete.png">
    {% endif %}

    <!-- Group info -->
    <div class="numMembers">{{ g.num_members }}</div>
    <div class="groupInfo">
        <div id="group{{ g.id }}Name" class="name groupName" groupId="{{ g.id }}">{{ g.name }}</div>
        {% if g.id != -1 %}
            <input id="group{{ g.id }}NameInput" class="groupNameInput groupNameInputHidden" groupId="{{ g.id }}" value="{{ g.name }}" />
        {% endif %}
    </div>

    <!-- Delete button -->
    {% if g.id != -1 %}
        <input id="group{{ g.id }}DeleteButton" class="deleteButton deleteButtonHidden" type="button" value="Delete" groupId="{{ g.id }}" />
    {% endif %}

    <!-- Disclosure arrow -->
    <img id="group{{ g.id }}DisclosureArrow" class="disclosureArrow" groupId="{{ g.id }}" src="resources/images/disclosureArrow.png" />
</div>
