<div class="inkling" inklingId="{{ inkling.id }}">
    <div class="numAttendees">{{ inkling.get_num_attendees }}</div>
    <div class="inklingInfo">
        <div class="location">{{ inkling.location|default:"Location TBD" }}</div>
        <div>
            {% if inkling.time %}
                <div class="time">{{ inkling.time }}</div>
                {% if inkling.category %}
                    <div class="dot">&middot</div>
                {% endif %}
            {% endif %}
            {% if inkling.category %}
                <div class="category">{{ inkling.category }}</div>
            {% endif %}
        </div>
    </div>

    <!-- Accept/ignore buttons -->
    <input id="inkling{{ inkling.id }}AcceptInviteButton" class="acceptInviteButton" type="button" value="Accept" inklingId="{{ inkling.id }}" />
    <input id="member{{ inkling.id }}IgnoreInviteButton" class="ignoreInviteButton" type="button" value="Ignore" inklingId="{{ inkling.id }}" />
</div>
