<div id="inklingView">
    <div id="inklingHeader">
        <div class="numAttendees">7</div>
        <div class="location">Brother's Bar & Grill</div>
        <div class="clear"></div>
    </div>
    <div id="inklingInfo">
        <div class="banner">Basic Info</div>
        <div class="infoContainer">
            <div class="time">Late</div>
            <div class="dot">&middot</div>
            <div class="category">Karaoke</div>
            <div class="clear"></div>
        </div>
        <div class="banner">Friends</div>
        <div class="infoContainer">
            <div class="friendPicture">&nbsp;</div>
            <div class="friendPicture">&nbsp;</div>
            <div class="friendPicture">&nbsp;</div>
            <div class="friendPicture">&nbsp;</div>
            <div class="friendPicture">&nbsp;</div>
            <div class="friendPicture">&nbsp;</div>
            <div class="friendPicture">&nbsp;</div>
            <div class="clear"></div>
        </div>
        <div class="banner">Notes</div>
        <div class="infoContainer">
            <div>Half off beer pitchers.</div>
            <div>Wet t-shirt contest!</div>
        </div>
    </div>
</div>
