{% load humanize %}

<div class="feedComment">
    {% if member == feed_comment.creator %}
        <img class="floatRight" src="{{ STATIC_URL }}/media/images/members/{{ feed_comment.creator.id }}.jpg" />
    {% else %}
        <img src="{{ STATIC_URL }}/media/images/members/{{ feed_comment.creator.id }}.jpg" />
    {% endif %}
    
    <div class="feedCommentInfo">
        <p class="creatorName">{{ feed_comment.creator.get_full_name }}</p>
        <p class="text">{{ feed_comment.text }}</p>
        <p class="timestamp">{{ feed_comment.date_created|naturaltime }}</p>
    </div>
</div>
