<div id="inklingView">
    <div id="inklingHeader">
        <div class="numAttendees">{{ inkling.get_num_attendees }}</div>
        <div class="location">{{ inkling.location.name }}</div>
        <div class="clear"></div>
    </div>
    <div id="inklingInfo">
        <div class="banner">Basic Info</div>
        <div class="infoContainer">
            <div class="time">{{ inkling.time }}</div>
            <div class="dot">&middot</div>
            <div class="category">{{ inkling.category }}</div>
            <div class="clear"></div>
        </div>
        <div class="banner">Friends</div>
        <div class="infoContainer">
            <div class="friendPicture">&nbsp;</div>
            <div class="friendPicture">&nbsp;</div>
            <div class="friendPicture">&nbsp;</div>
            <div class="friendPicture">&nbsp;</div>
            <div class="friendPicture">&nbsp;</div>
            <div class="friendPicture">&nbsp;</div>
            <div class="friendPicture">&nbsp;</div>
            <div class="clear"></div>
        </div>
        <div class="banner">Notes</div>
        <div class="infoContainer">
            <div>{{ inkling.notes }}</div>
        </div>
    </div>
</div>
