<div class="inklingInvitation" inklingId="{{ invitation.inkling.id }}">
    <!-- Inkling information -->
    <div class="numAttendees">{{ invitation.inkling.get_num_members_attending }}</div>
    <div class="inklingInfo">
        <div class="location">{{ invitation.inkling.location|default:"Location TBD" }}</div>
        <div>
            {% if invitation.inkling.time %}
                <div class="time">{{ invitation.inkling.time }}</div>
                {% if invitation.inkling.category %}
                    <div class="dot">&middot</div>
                {% endif %}
            {% endif %}
            {% if invitation.inkling.category %}
                <div class="category">{{ invitation.inkling.category }}</div>
            {% endif %}
        </div>
    </div>

    <!-- Accept/ignore buttons -->
    {% if invitation.status == "pending" %}
        <input class="acceptInvitationButton" type="button" value="Accept" invitationId="{{ invitation.id }}" />
        <input class="ignoreInvitationButton" type="button" value="Ignore" invitationId="{{ invitation.id }}" />
    {% else %}
        <input class="hideInvitationButton" type="button" value="Hide" invitationId="{{ invitation.id }}" />
    {% endif %}
</div>
