<div class="view" id="myInklingsView">
    {% for bannerHeader, inklings in inklings %}
        <div class="banner">{{ bannerHeader }}</div>
        {% for inkling in inklings %}
            <div class="inkling" inklingId="{{ inkling.id }}">
                <div class="numAttendees">{{ inkling.get_num_attendees }}</div>
                <div class="inklingInfo">
                    <div class="location">{{ inkling.location }}</div>
                    <div>
                        {% if inkling.time %}
                            <div class="time">{{ inkling.time }}</div>
                            {% if inkling.category %}
                                <div class="dot">&middot</div>
                            {% endif %}
                        {% endif %}
                        {% if inkling.category %}
                            <div class="category">{{ inkling.category }}</div>
                        {% endif %}
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        {% empty %}
            <div class="noInklings">No inklings</div>
        {% endfor %}
    {% endfor %}
</div>
