{% load is_false from extraTags %}

{% autoescape on %}
<div class="shareSettingsForm">
    <!-- Selected groups header selection button -->
    <div id="selectedGroupsShareSettingsFormHeader" class="shareSettingsFormHeader">
        {% if user.share_with_selected_groups %}
            <img id="selectedGroupsSelectionButton" class="selectionButton selected" src="resources/images/selected.png" />
        {% else %}
            <img id="selectedGroupsSelectionButton" class="selectionButton" src="resources/images/deselected.png" />
        {% endif %}

        <p class="shareSettingsFormHeaderName">Selected groups</p>
    </div>

    <!-- Individual group selection buttons -->
    {% for g in user.group_set.all %}
        <div class="selectedGroupsGroup">
            {% if g.share_by_default %}
                {% if user.share_with_selected_groups %}
                    <img class="groupSelectionButton selectionButton selected" data-groupId="{{ g.id }}" src="resources/images/selected.png" />
                {% else %}
                    <img class="groupSelectionButton selectionButton selected disabled" data-groupId="{{ g.id }}" src="resources/images/fadedselected.png" />
                {% endif %}
            {% else %}
                <img class="groupSelectionButton selectionButton" data-groupId="{{ g.id }}" src="resources/images/deselected.png" />
            {% endif %}

            <p class="shareSettingsFormName">{{ g.name }}</p>
        </div>
    {% empty %}
        <div class="noGroupsShareSetting">
            <p>You do not have any groups.</p>
            <p>You can create them from the friends tab.</p>
        </div>
    {% endfor %}

    <!-- No one selection button -->
    <div id="noOneShareSettingsFormHeader" class="shareSettingsFormHeader">
        {% if user.share_with_selected_groups|is_false %}
            <img id="noOneSelectionButton" class="selectionButton selected" src="resources/images/selected.png" />
        {% else %}
            <img id="noOneSelectionButton" class="selectionButton" src="resources/images/deselected.png" />
        {% endif %}

        <p class="shareSettingsFormHeaderName">No one</p>
    </div>

    <!-- Forwarding selection button -->
    <div id="forwardingShareSettingsFormHeader" class="shareSettingsFormHeader">
        {% if user.allow_inkling_attendees_to_share %}
            <img id="forwardingSelectionButton" class="selectionButton selected" src="resources/images/selected.png" />
        {% else %}
            <img id="forwardingSelectionButton" class="selectionButton" src="resources/images/deselected.png" />
        {% endif %}

        <p class="shareSettingsFormHeaderName">Allow people attending to share with others</p>
    </div>
</div>
{% endautoescape %}