{% load is_false from extraTags %}

<div class="shareSettingsForm">
    <!-- Selected groups -->
    <div class="selectedGroupsHeader">
        <img class="selectedGroupsShareSetting selectionItem" src={% if member.shareWithSelectedGroups %}"resources/images/selected.png"{% else %}"resources/images/deselected.png"{% endif %}>
        <p>Selected groups</p>
    </div>
    {% for g in member.group_set.all %}
        <div class="selectedGroupsGroup">
            <img id="group{{ g.id }}ShareSetting" class="groupShareSetting selectionItem" groupId="{{ g.id }}"
				src={% if g.shareByDefault %}
						{% if member.shareWithSelectedGroups %}
							"resources/images/selected.png"
						{% else %}
							"resources/images/fadedselected.png"
						{% endif %}
					{% else %}
						"resources/images/deselected.png"
					{% endif %}
			>
            <p>{{ g.name }}</p>
        </div>
    {% endfor %}

    <!-- No one -->
    <div class="noOne">
        <img class="noOneShareSetting selectionItem" src={% if member.shareWithSelectedGroups|is_false %}"resources/images/selected.png"{% else %}"resources/images/deselected.png"{% endif %}>
        <p>No one</p>
    </div>

    <!-- Forwarding -->
    <div class="forwarding">
        <img class="forwardingShareSetting selectionItem" src={% if member.allowInklingAttendeesToShare %}"resources/images/selected.png"{% else %} "resources/images/deselected.png"{% endif %}>
        <p>Allow people attending to share with others</p>
    </div>
</div>
